# VSCode trash files
*.vscode

# Python trash files
*__pycache__*
*.pyc
*.py[cod]
*$py.class
*/build
*/dist

# MATLAB temporary files
*.asv
*.slxc
*slprj

# Temporary office files
~$* 

# build artifacts
*build/

# WSL files
*.Identifier
*.uuid

# KiCad files
*bak
*backup*
*cache