<?xml version="1.0"?>
<launch>
    <arg name="host" default="localhost" />
    <!-- Node python scripts -->
    <node name="kinematic_model"
        pkg="pai"
        output="screen"
        type="kinematic_model.py"
    />

    <!-- Drivers -->
    <rosparam file="$(find pai)/config/drivers_pinout.yaml" command="load" />

    <!-- Right differential driver  -->
    <node name="right_driver"
        pkg="pai" output="screen"
        type="motor_driver.py"
        args="$(arg host) driver_R"
        required="true"
    >
        <remap from="/motors_ctrl/command" to="/right_wheel_ctrl/command" />
    </node>

    <!-- Left differential driver  -->
    <node name="left_driver"
        pkg="pai" output="screen"
        type="motor_driver.py"
        args="$(arg host) driver_L"
        required="true"
    >
        <remap from="/motors_ctrl/command" to="/left_wheel_ctrl/command" />
    </node>
</launch>